notebook
ipython
ipykernel
numpy
pandas
openai
langchain 
google-search-results 
chromadb 
tiktoken
urllib3
numexpr
comet-ml
comet_llm
transformers[torch]
datasets
evaluate
sentencepiece
python-dotenv